<%= render 'signup' %>



<div id="first-header">
  <h1 id="logo">gruvi</h1>
</div>

<div id="game-messages">

  <div id="score">
    <strong>Score:</strong>
    <div id="player-score">
    </div>
  </div>

  <div id="start-game">
    <p id="normal">play normal mode</p>
    <p id="expert">play expert mode</p>
  </div>

  <div id="gameplay-box">
  </div>

</div><!-- #game-messages -->

<div id="squares-wrapper">
  <div id="squares">
    <div class="square" id="64849"></div>
    <div class="square" id="47556"></div>
    <div class="square" id="43744"></div>
    <div class="square" id="43604"></div>
    <div class="square" id="43649"></div>
    <div class="square" id="43656"></div>
    <div class="square" id="43686"></div>
    <div class="square" id="43601"></div>
  </div>
</div>
