

#header {
  background-image: url("/assets/music_wallpaper.jpg");
  background-attachment: absolute;
  background-size: 2000px auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: auto;
}

#header h1 {
  text-align: center;
  font-family: Avenir;
  color: white;
}
